<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CityDeals</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products/search']">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/category/results']">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pricing']">Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/supermarkets/results']">Supermercados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/discounts/results']">Descuentos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
