.customCategory {
  cursor: pointer;
  background-color: #e0e0e0;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6); /* Ajusta el color y opacidad según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blur-overlay h5 {
  margin: 0;
  z-index: 1;
}
