.customCategory {
  cursor: pointer;
  background-color: #e0e0e0;
  height: 170px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // -webkit-backdrop-filter: blur(5px);
  // backdrop-filter: blur(5px);
  background-color: rgb(193 190 202 / 32%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blur-overlay h5 {
  margin: 0;
  z-index: 1;
  color: wheat !important;
  text-shadow: 3px 2px #000;
}
