<div class="container">


  <div class="row">
    <div class="col-md-6 offset-md-6 text-end">
      <div class="d-inline-block">
        <button class="btn btn-primary" (click)="redirectToCreateDiscount()">
          Añadir Promocion <i class="bi bi-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <h3 class="mt-3">Hoy es {{ getDayOfWeek() }}, {{ getFormattedDateTime() }}</h3>



  <div class="container mt-4">
    <div *ngIf="discountsToday.length > 0" class="row">
      <div class="col-md-6 mb-4" *ngFor="let discount of discountsToday">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{ discount.product ? discount.product.name : discount.category!.name }}
              <span *ngIf="discount.product" class="badge bg-primary">
                Producto
              </span>
              <span *ngIf="!discount.product" class="badge bg-info">
                Categoría
              </span>
            </h5>
            <p class="card-text">
              <strong>Descuento:</strong> {{ discount.percentage }}%
              <br>
              <strong>Fecha de inicio:</strong> {{ discount.date_start | date }}
              <br>
              <strong>Fecha de fin:</strong> {{ discount.date_end | date }}
            </p>
            <div>
              <p class="card-text">
                <strong>Supermercado:</strong> {{ discount.supermarket.name }} ({{ discount.supermarket.city }})
              </p>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              Creado el {{ discount.created_at | date }}
            </small>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="discountsToday.length === 0">
      <p class="alert alert-warning">
        No hay descuentos disponibles para hoy.
      </p>
    </div>
  </div>


</div>
