<div class="container">

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-6 text-end">
      <div class="d-inline-block">
        <button class="btn btn-primary" (click)="redirectToCreateDiscount()">
          Añadir Promocion <i class="bi bi-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <h3 class="mt-3">Hoy es {{ getDayOfWeek() }}, {{ getFormattedDateTime() }}</h3>


  <div *ngIf="!loading && errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loading && pricedProducts.length > 0">
    <div *ngFor="let product of pricedProducts" class="card mb-3">
      <div class="card-header">
        <h3>{{ product.name }}</h3>
      </div>
      <div class="card-body">
        <p class="card-text">{{ product.description }}</p>
        <div *ngFor="let price of product.prices" class="mb-2">
          <p>
            <span class="badge text-black badge-secondary">{{ price.supermarket.name }} ({{ price.supermarket.city }})</span>
          </p>
          <p>Precio: <span class="badge badge-primary"> $ {{ price.price | currency: 'COP' }}</span></p>
          <p *ngIf="price.discount">
            Descuento: <span class="badge badge-success">{{ price.discount.percentage }}%</span>
            <br>
            Precio con descuento: <span class="badge badge-danger text-black"> $ {{ price.discount.discountedPrice | currency: 'COP' }}</span>
          </p>
          <p *ngIf="!price.discount">
            <span class="badge badge-info">Sin descuento</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && pricedProducts.length === 0" class="alert alert-info">
    No hay productos con descuentos disponibles en esta categoría.
  </div>

</div>
