<!-- src/app/components/shopping-list/shopping-list.component.html -->
<div class="container mt-3">
  <h2 class="mb-4">Lista de Compra</h2>

  <!-- Botón para vaciar el carrito -->
  <button (click)="clearShoppingList()" class="btn btn-warning btn-clear mb-3">
    <i class="bi bi-trash"></i> Vaciar Carrito
  </button>

  <!-- Card para mostrar rutas óptimas -->
  <div class="card mb-4">
    <div class="card-header">
      Rutas Óptimas
    </div>
    <div class="card-body">
      <div *ngIf="optimalRoutes.length === 0" class="alert alert-info text-center">
        No hay rutas óptimas disponibles.
      </div>
      <div *ngFor="let route of optimalRoutes" class="mb-4">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5 class="mb-0">{{ route.store }}</h5>
          <span class="fw-bold price-style">{{ route.total | currency:'COP':'symbol':'1.0-0' }}</span>
        </div>
        <ul class="list-group">
          <li *ngFor="let product of route.products" class="list-group-item d-flex justify-content-between align-items-center">
            {{ product.name }}
            <span class="badge  bg-secondary">
              {{ product.discountedPrice !== null ? (product.discountedPrice | currency:'COP':'symbol':'1.0-0') : (product.price | currency:'COP':'symbol':'1.0-0') }}
            </span>
          </li>
        </ul>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-4">
        <h5 class="mb-0">Total General:</h5>
        <span class="fw-bold text-danger">{{ totalGeneral | currency:'COP':'symbol':'1.0-0' }}</span>
      </div>

    </div>
  </div>

  <div *ngIf="shoppingList.length === 0" class="alert alert-info text-center">
    No hay productos en la lista de compra.
  </div>
  <div *ngFor="let product of shoppingList" class="card mb-3">
    <div class="card-body d-flex flex-column flex-sm-row justify-content-between align-items-center">
      <div class="d-flex align-items-center w-100 mb-sm-1 mb-sm-0">
        <img *ngIf="product.image" [src]="product.image" class="card-img-top me-3" alt="Imagen del producto" style="width: 50px; height: 50px;">
        <div>
          <h5 class="card-title mb-1">{{ product.name }}</h5>
        </div>
      </div>
      <div class="w-100 w-sm-50 mt-3 mt-sm-0">
        <h6 class="mb-2">Precios:</h6>
        <ul class="list-group">
          <li *ngFor="let price of sortedPrices(product)" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <span>{{ price.supermarket.name }}:</span>
            </div>
            <span class="badge price-style">
              {{ price.discount ? (price.discount.discountedPrice | currency:'COP':'symbol':'1.0-0') : (price.price | currency:'COP':'symbol':'1.0-0') }}
            </span>
          </li>
        </ul>
      </div>
      <button (click)="removeFromShoppingList(product)" class="btn btn-danger mt-3 mt-sm-0">
        <i class="bi bi-trash"></i> Eliminar
      </button>
    </div>
  </div>
</div>
