<div class="card">
  <img *ngIf="product.image" [src]="product.image" class="card-img-top" alt="Imagen del producto">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text"><small class="text-muted badge bg-secondary">Categoría: {{ product.category.name }}</small></p>
    <h6 *ngIf="product.prices.length > 0" class="card-subtitle mb-2 text-muted">Precio</h6>
    <ul class="list-group">
      <div *ngIf="product.prices.length === 0">
        <p class="alert alert-warning">
          No hay precios registrados.
        </p>
      </div>
      <li class="list-group-item cursor-pointer" *ngFor="let pricingProduct of product.prices">
        <div title="{{pricingProduct.last_date | date}}" class="d-flex justify-content-between align-items-center">
          <div class="w-50">
            {{ pricingProduct.supermarket.name }}
          </div>
          <div class="w-50 mx-2" *ngIf="pricingProduct.discount">
            <div class="badge-circle">
              {{ pricingProduct.discount.percentage }}%
            </div>
            <div class="bagde-container">
              <span class="badge price-style">$ {{ pricingProduct.discount.discountedPrice | currency:'COP':'symbol':'1.0-0' }}</span>
              <span class="badge font-size-10px text-black text-decoration-line-through">$ {{ pricingProduct.price | currency:'COP':'symbol':'1.0-0' }}</span>
            </div>
          </div>
          <div class="w-50 mx-2 bagde-container" *ngIf="!pricingProduct.discount">
            <span class="badge price-style">$ {{ pricingProduct.price | currency:'COP':'symbol':'1.0-0' }}</span>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>
