@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import "~bootstrap-icons/font/bootstrap-icons.css";


// Encabezados
h1, h2, h3, h4, h5, h6, label {
  color: $primary-color;
  font-weight: bold;
}

// Enlaces
a {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Párrafos
p {
  color: $primary-color;
}

// Cuerpo del documento
body {
  background: #eaf1fd;
  font-family: $font-family;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 20px;
  .left-content {
    flex: 1;
    text-align: center;
    animation: scale-up 0.5s ease-in;
  }

  .right-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.text-link-normal {
  font-size: 16px;
  color: $secondary-color;
  cursor: pointer;
}
.text-link {
  font-size: 14px;
  color: $secondary-color;
  margin-block: 10px;
  text-decoration: underline;
  font-style: italic;
}

.bg-secondary-jobs{
  background: $secondary-color;
}
.bg-primary-jobs{
  @include gradient-background;
}
.bg-tertiary-jobs{
  background: $tertiary-color;
}
.bg-principal-jobs{
  background: $background-color;
}

.main-form {
  display: flex;
  flex-direction: column;
  width: auto;
}

.main-title {
  font-size: 32px;
  color: $primary-color;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 20px;
}

.btn{
  border-radius: 20px;
  font-weight: normal;
  padding: 5px 15px;
  cursor: pointer;
  width: 100%;
}

.button-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.button-primary {
  background-color: $primary-color;
  color: #fff; // Texto en contraste
  border: 1px solid $primary-color; // Borde
  transition: background-color 0.3s; // Transición suave solo para el fondo
  &:hover {
    color: #fff;
    background-color: lighten($primary-color, 20%); // Color de fondo ligeramente más claro en hover
  }
}

.button-secondary {
  background-color: $background-color-secondary;
  color: #fff; // Texto en contraste
  border: 1px solid #fff; // Borde
  transition: background-color 0.3s; // Transición suave solo para el fondo
  &:hover {
    color: #fff;
    background-color: lighten($background-color, 20%); // Color de fondo ligeramente más claro en hover
  }
}

.button-tertiary {
  background-color: $tertiary-color;
  color: #fff; // Texto en contraste
  border: 1px solid $tertiary-color; // Borde
  transition: background-color 0.3s; // Transición suave solo para el fondo
  &:hover {
    color: #fff;
    background-color: lighten($tertiary-color, 20%); // Color de fondo ligeramente más claro en hover
  }
}



.input {
  background-color: $background-color-secondary;
  border-radius: 20px !important;
  color: $primary-color !important; // Texto en contraste
  border: 2px solid $primary-color !important;
  padding: 5px;
  width: 100% !important;
  outline: none;
}

.select {
  background-color: #fff;
  color: $secondary-color; // Texto en contraste
  border: 1px solid $secondary-color;
  padding: 10px;
}

.title {
  color: $primary-color;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  color: $secondary-color;
  font-size: 18px;
}

.badge-primary {
  background-color: #007bff; /* Color de fondo azul */
  color: #fff; /* Color de texto blanco */
}

/* Estilo para el badge de estado "Scheduled" */
.badge-warning {
  background-color: #ffc107; /* Color de fondo amarillo */
  color: #000; /* Color de texto negro */
}

/* Estilo para el badge de estado "Completed" */
.badge-success {
  background-color: #28a745; /* Color de fondo verde */
  color: #fff; /* Color de texto blanco */
}

.cursor-pointer{
  cursor: pointer;
}
